.header {
    background: var(--gray-700);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.header img {
    height: 2.25rem;
}

.title {
    padding-left: 0.75rem;
    font-size: 2.5rem;
    line-height: 1.6;
    color: var(--blue-300);
    font-weight: 900;
}

.title span {
    color: var(--purple-500);
}